<?xml version="1.0" encoding="UTF-8"?> 
<!-- 60초마다 설정 파일의 변경을 확인 하여 변경시 갱신 --> 
<configuration scan="true" scanPeriod="60 seconds"> 
	<include resource="logback-default.xml"/>
	<!-- class FOR log level -->
	<include resource="logback-logger.xml"/>

	<!-- SERVER FOR FILE PATH-->
	<property name="LOG_FILE_PATH_LOCAL" value="C:/demo/log/" />
	<!--<property name="LOG_FILE_PATH_DEV" value="" />-->
	<!--<property name="LOG_FILE_PATH_PROD" value="" />-->
	<!-- FILE NAME -->
	<property name="LOG_FILE_NAME" value="demo" />

	<!-- Local Server -->
	<springProfile name="local">
		<property name="LOG_FILE_PATH" value="C:/demo/log/" />

		<include resource="logback-console-appender.xml"/>
		<include resource="logback-file-appender.xml"/>

		<root level="DEBUG">
			<appender-ref ref="CONSOLE"/>
			<appender-ref ref="ROLLING-FILE"/>
		</root>
	</springProfile>
	<!-- Devloper Server -->
	<springProfile name="dev">
	</springProfile>
	<!-- Real Server -->
	<springProfile name="prod">
	</springProfile>

</configuration>