<?xml version="1.0" encoding="UTF-8"?> 
<included>
	<conversionRule conversionWord="ctr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
	<conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
	<conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />

	<property name="CONSOLE_LOG_PATTERN" 
				value="%-5level %d{yyyy-MM-DD HH:mm:ss.SSS} [%thread] [%F:%line] [Run-Method:%M] - %msg%n"
	/>
	<property name="CONSOLE_LOG_CHARSET" value="UTF-8"/>
	<property name="FILE_LOG_PATTERN" 
				value="%-5level %d{yyyy-MM-DD HH:mm:ss.SSS} [%thread] [%F:%line] [Run-Method:%M] - %msg%n"
	/>
	<property name="FILE_LOG_CHARSET" value="UTF-8"/>
</included>